.chat__output {
    height: 100%;
	transform: rotate(180deg);
	overflow: auto;
}

.chat__output {
    position: relative;
}

.chat__output::before {
    content: '';
    background: url('/assets/colour-lessons-2.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    height: 100%;
    transform: rotate(180deg);
    bottom: 0;
    opacity: 0.06;
    width: 100%;
}

.chat__output::-webkit-scrollbar {
    display: none;
}

.chat__input,
.chat__tags {
    flex-grow: unset !important;
}

.chat__textarea textarea {
    resize: none !important;
}
