@import '../../../scss/colours.scss';
@import '../../../scss/fonts.scss';

.AskForHelpMentors__Header {
  text-align: center;
  margin-bottom: 3%;
  font: $subheading;
  color: $primary;
}

@media only screen and (max-width: 767px) {
  .AskForHelpMentors__Header {
    font: $subheading-small;
  }
}
