.message-item__event {
    cursor: pointer;
}

.message-item__event.active,
.message-item__event.active .message-item__text,
.message-item__event.active .message-item__summary {
    /* Important needed because semantic ui */
    font-weight: 900 !important;
    color: #E68D05 !important;
}

.message-item__summary {
    display: flex;
    justify-content: space-between;
}

.message-item__user {
    text-transform: capitalize;
}

.message-item__content {
    position: relative;
    margin-top: 8px;
}

.message-item__content::after,
.message-item__event.active .message-item__content::before {
    content: '';
    position: absolute;
    left: -1em;
    right: -1em;
}

.message-item__content::after {
    border-bottom: solid 1px #ddd;
    bottom: 0;
}

.message-item__event.active .message-item__content::before {
    border-top: solid 2px #E68D05;
    top: -15px;
}

.message-item__event:last-of-type .message-item__content::after {
    content: none;
}

.message-item__text {
    word-break: break-all;
}
