@import '../../../scss/colours.scss';
@import '../../../scss/fonts.scss';

.AskForHelp__Header {
  margin: 5%;
  font: $subheading;
  color: $primary;
}

.AskForHelp__Teal {
  color: $primary !important;
}

.AskForHelp__Orange {
  color: $secondary !important;
}

.AskForHelp__Black {
  color: black;
}