@import '../../scss/colours.scss';
@import '../../scss/fonts.scss';

.Contact {
  text-align: center;
  margin-top: 5%;
}

.Contact__Header {
  font: $heading;
  color: $secondary;
}

.Contact__Paragraph {
  font-size: $paragraph;
  margin-top: 2%;
  margin-bottom: 10%;
}

.Contact__TealIcon {
  color: $primary
}