@import '../../scss/colours.scss';

.Contact {
  text-align: center;
  margin-top: 5%;
}

.Contact__Header {
  font-size: 50px;
  color: $secondary;
}

.Contact__Subheader {
  font-size: 20px;
  margin-top: 2%;
  margin-bottom: 10%;
}

.Contact__TealIcon {
  color: $primary
}