@import '../../scss/fonts.scss';

.UnassignedMessages {
    align-items: center;
}

.UnassignedMessages__Grid {
    text-align: center;
}

.UnassignedMessages_Header {
    font: $heading;
    margin: 2% 0;
}

.UnassignedMessages__CardGroup {
    justify-content: center;
}

.UnassignedMessages__Button {
    margin-left: 5% !important;
}