@import '../../scss/colours.scss';
@import '../../scss/fonts.scss';

.UnassignedMessages {
    height: auto;
    background: url('../../assets/orange-background-pencils.png') no-repeat 0 0;
    background-size: cover;
    background-position: center;
}

.UnassignedMessages__Container {
    text-align: center;
}

.UnassignedMessages_Header {
    font: $heading;
    margin: 2% 0;
    color: $primary;
}

.UnassignedMessages__CardGroup {
    justify-content: center;
}

.UnassignedMessages__Button {
    margin-left: 5% !important;
    background: $primary !important;
    font-size: $button !important;
    color: $white  !important;
    border-radius: 50px !important;
}

.UnassignedMessages__Button:hover {
    transition: all ease 0.5s;
    color: $secondary !important;
  }

  @media only screen and (max-width: 768px) {
    .UnassignedMessages {
        text-align: center;
    }

    .UnassignedMessages_Header {
        font: $heading-small;
    }

    .UnassignedMessages__Button {
        margin-top: 5% !important;
      }
  }
  
  /* @media only screen and (max-width: 500px) {
    .UnassignedMessages__Button {
      margin-top: 5%;
    }
  } */