.question-form {
  width: 50%;
  justify-content: center;
  left: 25%;
  position: absolute;
}

.dropdown-menu {
  padding-top: 3px;
  margin-bottom: 20px;
}

.error {
  color: #d8000c;
  background-color: #ffbaba;
  padding-bottom: 20px;
}
