.login__header {
    position: relative;
    margin-bottom: 24px;
}

.login__header::after {
    content: '';
    position: absolute;
    bottom: -8px;
    border-bottom: solid 3px orange;
    left: 0;
    width: 100%;
}

.login__container {
    padding: 0 24px;
    margin: 0 auto;
    max-width: 900px;
    width: 100%;
}

.login__container .form.error {
    background-color: unset !important;
}

@media only screen and (min-width: 768px) {
    .login__container {
        padding: 0 64px;
    }
}
