.ResetPassword {
  padding: 24px;
  margin: 0 auto;
  max-width: 900px;
}

.ResetPassword__Header {
  position: relative;
  margin-bottom: 24px;
}

.ResetPassword__Header::after {
  content: '';
  position: absolute;
  bottom: -8px;
  border-bottom: solid 3px green;
  left: 0;
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .ResetPassword {
      padding: 64px;
  }
}
