@import '../../../scss/colours.scss';
@import '../../../scss/fonts.scss';

.Home__Teal {
  color: $primary !important;
}

.Home__Orange {
  color: $secondary !important;
}

.Home__Subheading {
  margin: 5%;
  font: $subheading;
  color: $primary;
}

@media only screen and (max-width: 767px) {
  .Home__Subheading {
    font: $subheading-small;
  }  
}