@import '../../../scss/colours.scss';
@import '../../../scss/fonts.scss';

.HomeHeader {
  margin: 5%;
}

.Home__AskForHelpButton {
  margin: 0 5%;
  font-size: $big-button;
  color: $primary;
  background: $background-primary;
  padding: 2% 4%;
  border: 5px solid $primary;
  border-radius: 25px;
}

.Home__OfferHelpButton {
  margin: 0 5%;
  font-size: $big-button;
  color: $secondary;
  background: $background-primary;
  padding: 2% 4%;
  border: 5px solid $secondary;
  border-radius: 25px;
}

.Home__Paragraph {
  font-size: $paragraph;
}

.HomeHeader a:hover {
  transition: all ease 0.5s;
  color: black;
}